<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>西电睿思码领取</title>
        <link rel="stylesheet" href="__ROOT__/Public/css/weui.min.css"/>
        <script src="__ROOT__/Public/js/jquery.min.js" type="text/javascript"></script>

    </head>
    <body>

     <div class="beijing">
        <div class="middle">
         <img src="__ROOT__/Public/images/0.png" width="320px">
         <h3 style="text-align:center;font-size:25px;">西电导航邀请码发放</h3>
         <br>
         <h3 style="text-align:center;font-size:16px;">您是今天第{$count}位领取的</h3>
         <h3 style="text-align:center;font-size:24px;">您获得的睿思邀请码为：</h3>
          <h3 style="text-align:center;font-size:30px;color:red;">{$rsma}</h3>
         <h3 style="font-size:16px;color:red;text-align:center;">(注意区分字母l和数字1、字母o和数字0)</h3>
         <h3 style="color:red">重要提示：请保存好邀请码再关闭此页面，此页面关闭之后邀请码将无法找回!</h3>
         <h3 style="text-align:center;">赶紧存下来！且存且珍惜！</h3>
         <h3 style="text-align:center;font-size:16px;">请尽快通过校园网登陆<a href="http://rs.xidian.edu.cn">西电睿思</a>完成注册</h3>
         <p style="font-size: 15px;">如有问题请加西电导航QQ群:553408197</p>
         <p style="font-size: 15px;">验证信息为学院＋姓名</p>
        </div>
        <div class="bottom">
         <img src="__ROOT__/Public/images/0.jpg" width="320px">
        </div>
     </div>

    </body>
</html>