<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>西电睿思码领取</title>
        <link rel="stylesheet" href="__ROOT__/Public/css/weui.min.css"/>
        <script src="__ROOT__/Public/js/jquery.min.js" type="text/javascript"></script>

    </head>
    <body>

     <div class="beijing">
        <div class="middle">
         <img src="__ROOT__/Public/images/0.png" width="320px">
         <h3 style="text-align:center;font-size:25px;">西电导航邀请码发放</h3>
         <br>
         <h3 style="text-align:center;font-size:20px;">领取时出错，请联系管理员解决</h3>
         <br>
           <h3 style="text-align:center;font-size:20px;color:red;">QQ群号：553408197</h3>
         <p style="font-size: 15px;">如有问题请加西电导航QQ群:553408197</p>
         <p style="font-size: 15px;">验证信息为学院＋姓名</p>
        </div>
        <div class="bottom">
         <img src="__ROOT__/Public/images/0.jpg" width="320px">
        </div>
     </div>

    </body>
</html>